/* Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}

/* Reset das imagens */
img {
    max-width: 100%;
    height: auto;
    width: auto;
}


/* Variáveis */
html {
    --pink: #D1327A;
    --pinkLight: #FAD6E1;
    --blueDark: #162741;
    --white: #F0F0F0;
    --black: #070707;
    --mainFont:'Oranienbaum', serif;
    --secondaryFont: 'Arimo', sans-serif;

    /* Alteração para fazer rem = px em uma escala 1:1 */
    font-size: 6.25%;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: var(--pink);
}

h1 {
    font-family: var(--mainFont);
    font-size: clamp(36px, 7vw, 56rem);
}

h2 {
    font-family: var(--secondaryFont);
    font-size: clamp(28px, 5vw, 42rem);
}

input {
    font-family: var(--secondaryFont);
    width: clamp(250px, 50vw, 300rem);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8rem;
}

li {
    list-style: none;
    font-size: 20rem;
    font-family: var(--mainFont);
    font-weight: bolder;
    color: var(--blueDark);
    background-color: var(--pinkLight);
    width: clamp(250px, 50vw, 300rem);
    padding: 10px 20px;
    border: 2px solid var(--pink);
    border-radius: 12rem;
    margin-bottom: 10px;
}

li:hover {
    background-color: var(--pinkLight);
    cursor: pointer;
    transition: 0.5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}