/* Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}

/* Reset das imagens */
img {
    max-width: 100%;
    height: auto;
    width: auto;
}


/* Variáveis */
html {
    --pink: #D1327A;
    --pinkLight: #FAD6E1;
    --blueDark: #162741;
    --white: #F0F0F0;
    --black: #070707;
    --mainFont:'Oranienbaum', serif;
    --secondaryFont: 'Arimo', sans-serif;

    /* Alteração para fazer rem = px em uma escala 1:1 */
    font-size: 6.25%;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: var(--pink);
}

h1 {
    font-family: var(--mainFont);
    font-size: clamp(36px, 7vw, 56rem);
}

h2 {
    font-family: var(--secondaryFont);
    font-size: clamp(28px, 5vw, 42rem);
}

input {
    font-family: var(--secondaryFont);
    width: clamp(250px, 50vw, 300rem);
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Header */
.header {
    height: 150rem;
    color: var(--pinkLight);
    background-color: var(--blueDark);
}

/* Main */
.menu {
    background-color: var(--blueDark);
    width: clamp(350px, 60vw, 400rem);
    padding: 50px;
    margin: 50px 0;
    border-radius: 12rem;
    box-shadow: 4px 3px 3px var(--black);
}

/* Footer */
.footer {
    height: 50px;
    color: var(--blueDark);
    font-family: var(--secondaryFont);
    font-size: clamp(20px, 4vw, 24rem);
}

.footer a {
    color: var(--pinkLight);
}

.footer a:before {
    content: '\00A9 '
}

.footer a:hover {
    color: var(--blueDark);
    transition: 0.5s;
}

/* Buttons */
.button {
    text-align: center;
    font-family: var(--secondaryFont);
    font-size: clamp(24px, 4vw, 32rem);
    display: block;
    width: clamp(250px, 50vw, 300rem);
    padding: 10rem 20rem;
    background-color: var(--pinkLight);
    color: var(--pink);
    border: 2px solid var(--pink);
    border-radius: 10rem;
    font-size: 20rem;
    margin-bottom: 15rem;
}

.button:hover {
    background-color: var(--pink);
    color: var(--pinkLight);
    transition: 0.5s;
    cursor: pointer;
}