/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Header */
.header {
    height: 150rem;
    color: var(--pinkLight);
    background-color: var(--blueDark);
    box-shadow: 2px 2px 2px var(--black);
}

/* Main */
.menu {
    background-color: var(--blueDark);
    width: clamp(350px, 60vw, 400rem);
    padding: 50px;
    margin: 50px 0;
    border-radius: 12rem;
    box-shadow: 4px 3px 3px var(--black);
}

/* Footer */
.footer {
    height: 50px;
    color: var(--blueDark);
    font-family: var(--secondaryFont);
    font-size: clamp(20px, 4vw, 24rem);
}

.footer a {
    color: var(--pinkLight);
}

.footer a:before {
    content: '\00A9 '
}

.footer a:hover {
    color: var(--blueDark);
    transition: 0.5s;
}

/* Buttons */
.button {
    text-align: center;
    font-family: var(--secondaryFont);
    font-size: clamp(24px, 4vw, 32rem);
    display: block;
    width: clamp(250px, 50vw, 300rem);
    padding: 10rem 20rem;
    background-color: var(--pinkLight);
    color: var(--pink);
    border: 2px solid var(--pink);
    border-radius: 10rem;
    font-size: 20rem;
    margin-bottom: 15rem;
}

.button:hover {
    background-color: var(--pink);
    color: var(--pinkLight);
    transition: 0.5s;
    cursor: pointer;
}

.buttonInverse {
    text-align: center;
    font-family: var(--secondaryFont);
    font-size: clamp(24px, 4vw, 32rem);
    display: block;
    width: clamp(250px, 50vw, 300rem);
    padding: 10rem 20rem;
    background-color: var(--pink);
    color: var(--pinkLight);
    border: 2px solid var(--pinkLight);
    border-radius: 10rem;
    font-size: 20rem;
    margin-bottom: 15rem;
}

.buttonInverse:hover {
    background-color: var(--pinkLight);
    color: var(--pink);
    transition: 0.5s;
    cursor: pointer;
}

.buttonErase {
    text-align: center;
    font-family: var(--secondaryFont);
    font-size: clamp(24px, 4vw, 32rem);
    display: block;
    width: clamp(150px, 35vw, 200rem);
    padding: 5rem 10rem;
    background-color: var(--pinkLight);
    color: var(--pink);
    border: 2px solid var(--pink);
    border-radius: 10rem;
    font-size: 20rem;
    margin-bottom: 15rem;
}

.buttonErase:hover {
    transition: 0.5s;
    background-color: var(--pink);
    color: var(--pinkLight);
    cursor: pointer;
}

/* Back button */
.back {
    color: var(--white);
    font-size: clamp(40px, 5vw, 50rem);
    display: flex;
}


.res {
    margin-left: 50px;
}

.res h2 {
    color: var(--pinkLight);
}

.res button {
    margin-top: 20px;
}

main .menu p {
    color: var(--white);
    margin-bottom: 15px;
}

.active:hover {
    background-color: var(--pinkLight);
}

.showInfo {
    text-align: left;
    list-style: square;
    list-style-position: inside;
    font-size: 14rem;
    font-family: var(--secondaryFont);
    font-weight: 500;
    color: var(--blueDark);
    background-color: transparent;
    width: clamp(180px, 40vw, 250rem);
    padding: 10px 20px;
    border: none;
    border-radius: 12rem;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: block;
    }

    .res {
        margin-left: 0;
        margin: 20px auto;
    }

    .menu {
        margin: 20px auto;
    }
}